In [2]:
import pandas as pd

In [3]:
configs = pd.read_csv("../test/files/test_cascade_configurations.csv")
costs = pd.read_csv("../test/files/test_cascade_costs.csv")

In [4]:
configs

                Name       Component  Quantity
0      Small_cascade            DHAD      10.0
1      Small_cascade            KARI      10.0
2      Small_cascade             ALS      10.0
3      Small_cascade          Beaker      20.0
4      Small_cascade       Substrate      30.0
5                NaN             NaN       NaN
6                NaN             NaN       NaN
7   Alginate_cascade            DHAD      10.0
8   Alginate_cascade            KARI      10.0
9   Alginate_cascade             ALS      10.0
10  Alginate_cascade          Beaker      20.0
11  Alginate_cascade       Substrate      30.0
12  Alginate_cascade  Alginate beads      10.0

In [5]:
print(configs.to_markdown())

ImportError: Missing optional dependency 'tabulate'.  Use pip or conda to install tabulate.